@media only screen and (max-width: 790px) {

    /***** INTRO *****/
    .intro-content {
        margin-top: 60px;
    }

    .intro .col.span-1-of-2 {
       width: 99%;
       margin: 0;
       padding: 0;
    }

    .intro-text p {
        width: 99%;
        padding: 15px; 
    }

    .intro-image img {
        width: 99%;
        margin-top: 50px;
        padding: 15px;
    }

    /***** ABOUT *****/
    .about {
        margin-top: 120px;
    }

    .about-content {
        margin-top: 70px;
        text-align: left;
        color: #fff;
        font-size: 20px;
    }

    .about img {
        display: none;
    }

    .about-text {
        width: 99%;
        padding: 0 15px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
}

@media only screen and (max-width: 725px) {

    /*** Navigation bar appearance on a small screen ***/

    nav ul {
        display: none;
        margin-top: 80px;
    }

    nav ul li {
        display: block;
        margin-top: 15px;
    }

    .mobile-nav-icon {
        z-index: 100;
        display: inline-block;
    }
    
    /* Remove <li> underline */
    nav ul li a:hover,
    nav ul li a:active {
        border-bottom: 2px solid transparent;
    }

    h1 {
        display: none;
    }
}